<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/app-index.css" rel="stylesheet" media="screen">
    <title>Twitter Analytics</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
       <div class="header col-md-6" style="text-align:center" >
            <img src="/static/images/redis.png" alt="Redis Icon" width="200px">
            <h3 style="font-family:Verdana"><em>Sliding Window of Tweets </em><small>Redis</small></h3>
        </div>
        <div class="header col-md-6" style="text-align:center">
            <img src="/static/images/aerospike.jpeg" alt="Aerospike Icon" width="300px" height="65px">

            <h3 style="font-family:Verdana"><em>Sliding Window of Tweets</em> <small>Aerospike</small></h3>
        </div>
    </div>
    <div class="row">
        <!--<div class="tweets col-md-6">-->
           <!--<div class="viewport">-->
               <!--<svg id="tweets-svg" width="600" height="500" style="padding-top: 10px"></svg>-->
           <!--</div>-->
        <!--</div>-->
        <div class="hash-tags col-md-6">
            <svg id="redis-hash-svg" width="600" height="500" style="padding-left: 10px"></svg>
        </div>
        <div class="hash-tags col-md-6">
            <svg id="aerospike-hash-svg" width="600" height="500" style="padding-left: 10px"></svg>
        </div>
    </div>
</div>

<script src="/static/d3/d3.min.js"></script>
<script src="/static/d3/d3.layout.cloud.js"></script>
<script src="/static/d3/virtualscroller.js"></script>
<script src="/static/jquery/jquery-1.11.2.min.js"></script>
<script src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
<script src="/static/js/hashtags.js"></script>
</body>
</html>
